In [ ]:
from pyspark.sql import SparkSession,Row
from termcolor import cprint

spark = SparkSession.builder.appName('max').getOrCreate()


data = [
        Row(id='73377', Rate='6.81%', Company='Arioso Ltd'),
        Row(id='33909', Rate=None,    Company=None),
        Row(id='33909', Rate='5.17%', Company='Willows Apartments'),
        Row(id='33909', Rate='4.58%', Company='Laurel Apartments'),
        Row(id='73377', Rate='6.87%', Company='Jefferson Crossing'),
        Row(id='61963', Rate=None,    Company='Dollar General - Lisle'),
        Row(id='61963', Rate=None,    Company='Dollar General - Windfield'),
        Row(id='61963', Rate='6.6%',  Company=None),
        Row(id='73377', Rate=None,    Company=None)]


df=spark.createDataFrame(data)
df.printSchema()
df.show(truncate=False)

root
 |-- Rate: string (nullable = true)
 |-- id: string (nullable = true)
 |-- Company: string (nullable = true)

+-----+-------+--------------------------+
|Rate |id     |Company                   |
+-----+-------+--------------------------+
|6.81%|2873377|Arioso Ltd                |
|NULL |2933909|NULL                      |
|5.17%|2933909|Willows Apartments        |
|4.58%|2933909|Laurel Apartments         |
|6.87%|2873377|Jefferson Crossing        |
|NULL |2961963|Dollar General - Lisle    |
|NULL |2961963|Dollar General - Windfield|
|6.6% |2961963|NULL                      |
|NULL |2873377|NULL                      |
+-----+-------+--------------------------+

In [5]:
df.createOrReplaceTempView("df_view")

In [6]:
df2 = spark.sql(""" select MAX(Rate) from df_view""")
df2.show()

+---------+
|max(Rate)|
+---------+
|    6.87%|
+---------+

In [8]:
from pyspark.sql.functions import max

df.select(max("Rate")).show()

+---------+
|max(Rate)|
+---------+
|    6.87%|
+---------+