In [1]:
from pyspark.sql import SparkSession,Row
from termcolor import cprint

spark = SparkSession.builder.appName('lineage_data').getOrCreate()


data = [
 Row(id='6119', rate='6.81%',   Deal_id='377', PropertyName='Red Roof'),
 Row(id='996b', rate=None,   Deal_id='909', PropertyName=None),
 Row(id='e3d9', rate='5.17%',   Deal_id='809', PropertyName='Lisle Apartments'),
 Row(id='cd304', rate='4.58%',   Deal_id='209', PropertyName='Wesmont Apartments'),
 Row(id='b5bd', rate='6.87%',   Deal_id='277', PropertyName='Smith Crossing'),
 Row(id='06f3', rate=None,   Deal_id='963', PropertyName='Enterprise - West Chicago'),
 Row(id='8956', rate=None,   Deal_id='963', PropertyName='Enterprise - Lombard'),
 Row(id='8432', rate='6.6%',   Deal_id='963', PropertyName=None),
 Row(id='8ed5', rate=None,   Deal_id='377', PropertyName=None)]


df=spark.createDataFrame(data)
df.printSchema()
df.show()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/08 18:23:08 WARN Utils: Your hostname, javier-ubuntu, resolves to a loopback address: 127.0.1.1; using 172.17.0.1 instead (on interface docker0)
25/08/08 18:23:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/08 18:23:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/08 18:23:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

root
 |-- id: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- Deal_id: string (nullable = true)
 |-- PropertyName: string (nullable = true)

+-----+-----+-------+--------------------+
|   id| rate|Deal_id|        PropertyName|
+-----+-----+-------+--------------------+
| 6119|6.81%|    377|            Red Roof|
| 996b| NULL|    909|                NULL|
| e3d9|5.17%|    809|    Lisle Apartments|
|cd304|4.58%|    209|  Wesmont Apartments|
| b5bd|6.87%|    277|      Smith Crossing|
| 06f3| NULL|    963|Enterprise - West...|
| 8956| NULL|    963|Enterprise - Lombard|
| 8432| 6.6%|    963|                NULL|
| 8ed5| NULL|    377|                NULL|
+-----+-----+-------+--------------------+

In [2]:
from pyspark.sql.types import DoubleType
from pyspark.sql import functions as F

df = df.withColumn('rate_double', F.expr("rtrim('%', rtrim(rate))").cast(DoubleType()))

25/08/08 18:23:15 WARN FunctionResolution: Two-parameter TRIM/LTRIM/RTRIM function signatures are deprecated. Use SQL syntax `TRIM((BOTH | LEADING | TRAILING)? trimStr FROM str)` instead.

In [3]:
df.show()

+-----+-----+-------+--------------------+-----------+
|   id| rate|Deal_id|        PropertyName|rate_double|
+-----+-----+-------+--------------------+-----------+
| 6119|6.81%|    377|            Red Roof|       6.81|
| 996b| NULL|    909|                NULL|       NULL|
| e3d9|5.17%|    809|    Lisle Apartments|       5.17|
|cd304|4.58%|    209|  Wesmont Apartments|       4.58|
| b5bd|6.87%|    277|      Smith Crossing|       6.87|
| 06f3| NULL|    963|Enterprise - West...|       NULL|
| 8956| NULL|    963|Enterprise - Lombard|       NULL|
| 8432| 6.6%|    963|                NULL|        6.6|
| 8ed5| NULL|    377|                NULL|       NULL|
+-----+-----+-------+--------------------+-----------+